<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card">
          <div class="card-body p-5">

            <form class="d-flex justify-content-center align-items-center mb-4" >
              <div data-mdb-input-init class="form-outline flex-fill d-flex">
                <input type="text" name="task" class="form-control" [(ngModel)]="task.taskName" />
              </div>
              <button class="btn btn-info ms-2" (click)="addTask()">Add</button>
            </form>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
              <li class="nav-item" role="button">
                <a class="nav-link" [ngClass]="{'active': activeTab==='tab-1'}" (click)="changeTab('tab-1')">All</a>
              </li>
              <li class="nav-item" role="button">
                <a class="nav-link" [ngClass]="{'active': activeTab==='tab-2'}" (click)="changeTab('tab-2')">Active</a>
              </li>
              <li class="nav-item" role="button">
                <a class="nav-link" [ngClass]="{'active': activeTab==='tab-3'}" (click)="changeTab('tab-3')">Completed</a>
              </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content">
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab==='tab-1'}">
                <ul class="list-group mb-0" *ngFor="let item of taskList">
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;" *ngIf="item.isCompleted">
                    <input class="form-check-input me-2" type="checkbox" (click)="updateTask(item, !item.isCompleted)" checked/>
                    <s>{{item.taskName}}</s>
                    <div class="ms-auto">
                      <span class="btn btn-warning btn-sm">
                        {{ item.completedOn | date: 'dd-MM-YYYY' }}
                      </span>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm" (click)="deleteTask(item.itemId)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;" *ngIf="!item.isCompleted">
                    <input class="form-check-input me-2" type="checkbox" (click)="updateTask(item, !item.isCompleted)" />
                    {{item.taskName}}
                    <div class="ms-auto">
                      <span class="btn btn-warning btn-sm">
                        {{ item.completedOn | date: 'dd-MM-YYYY' }}
                      </span>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm"  (click)="deleteTask(item.itemId)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab==='tab-2'}">
                <ul class="list-group mb-0" *ngFor="let item of taskList">
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;" *ngIf="!item.isCompleted">
                    <input class="form-check-input me-2" type="checkbox" (click)="updateTask(item, !item.isCompleted)" />
                    {{item.taskName}}
                    <div class="ms-auto">
                      <span class="btn btn-warning btn-sm">
                        {{ item.completedOn | date: 'dd-MM-YYYY' }}
                      </span>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm"  (click)="deleteTask(item.itemId)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab==='tab-3'}">
                <ul class="list-group mb-0" *ngFor="let item of taskList">
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;" *ngIf="item.isCompleted">
                    <input class="form-check-input me-2" type="checkbox" (click)="updateTask(item, !item.isCompleted)" checked />
                    <s>{{item.taskName}}</s>
                    <div class="ms-auto">
                      <span class="btn btn-warning btn-sm">
                        {{ item.completedOn | date: 'dd-MM-YYYY' }}
                      </span>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm"  (click)="deleteTask(item.itemId)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Tabs content -->

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
